.intro {
  background-image: url("/assets/image/123.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1342px;
  height: 100vh;
  .content {
    color: white;
    h6 {
        visibility: hidden;
    }
    .hiddenBox {
        font-size: 14px;
        position: absolute;
        margin-top: 50px;
        margin-left:125px ;
        font-weight: bold;
    }
    .title {
      margin-top: 100px;
      margin-left: 120px;
      font-size: 55px;
      font-weight: bold;
    }
    .btn {
     transition: 0.5s;
      margin-left: 120px;
      margin-top: 20px;
      width: 150px;
      height: 40px;
      font-size: 14px;
      background: #fff;
      border: 1px solid transparent;
      color: #222;
      border-radius: 50px;
      &:hover {
        border: 1px solid white;
        background: transparent;
        color: white !important;
      }
    }
  }
}
.menuArea {
  background-image: url(/assets/image/menu-bg.jpg);
  background-size: cover;
  padding: 120px 0;
  .areaContent {
    padding: 0 120px;
  }
  .areaRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .menuBox {
      padding: 30px;
      background-color: white;
      border-radius: 10px;
      .singleMenu {
        .boxHeader {
          display: flex;
          justify-content: space-between;
          h4 {
            display: inline;
            text-align: start;
          }
          span {
            color: #b68834;
            font-size: 18px;
            font-weight: bold;
            text-align: end;
          }
        }

        p {
          font-size: 14px;
          color: gray;
          margin-top: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
.textBox {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  .areaText {
    h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }
    p {
      color: gray;
      font-size: 14px;
      display: flex;
      justify-content: center;
    }
  }
}


.menuAlbom {
  padding: 120px;
  .albomPhoto {
    img {
      width: 100%;
      height: 100%;
    }
    display: flex;
    gap: 30px;
    .photoLeft {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .photoRight {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .photoTop {
        display: flex;
        gap: 30px;
      }
    }
  }
}

.reviewArea {
  background-color: #b68834;
  padding: 120px;
  color: white;
  .reviewConteiner {
    .areaText {
      p {
        color: white;
      }
    }
    .rewiewBox {
      display: flex;
      gap: 30px;
      .boxLeft {
        .boxTitle {
          margin: 20px 0;
          span {
            margin-right: 20px;
            font-size: 18px;
            font-weight: bold;
          }
        }
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.625em;
        }
        .boxTop {
          margin-top: 100px;
          display: flex;
          gap: 140px;
          .spanCode {
            font-weight: normal;
            font-size: 60px;
          }
        }
      }
      .boxRight {
        .boxTitle {
          margin: 20px 0;
          span {
            margin-right: 20px;
            font-size: 18px;
            font-weight: bold;
          }
        }
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.625em;
        }
        .boxTop {
          margin-top: 100px;
          display: flex;
          gap: 140px;
          .spanCode {
            font-size: 60px;
          }
        }
      }
    }
  }
}

.blogArea {
  padding: 120px;
  .blogConteiner {
    .blogBox {
      display: flex;
      gap: 30px;
      .blogBoxLeft {
        .buttonBox {
          margin: 5px 0;
          a {
            font-size: 12px;
            margin: 20px 0px;
            display: inline-block;
            border: 1px solid #eee;
            border-radius: 20px;
            padding: 4px 20px;
            color: black;
          }
          a:hover {
            background-color: #b68834;
            color: white;
          }
        }
        h4 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 16px;
          color: gray;
          font-size: 14px;
          line-height: 25px;
        }
        h5 {
          font-size: 12px;
        }
      }
      .blogBoxRight {
        .buttonBox {
          margin: 5px 0;
          a {
            font-size: 12px;
            margin: 20px 0px;
            display: inline-block;
            border: 1px solid #eee;
            border-radius: 20px;
            padding: 4px 20px;
            color: black;
          }
          a:hover {
            background-color: #b68834;
            color: white;
          }
        }
        h4 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 16px;
          color: gray;
          font-size: 14px;
          line-height: 25px;
        }
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}

.footerArea {
  color: #fff;
  background: url(/assets/image/footer-bg.jpg) center;
  background-size: cover;
  .boxFooter {
    display: flex;
    padding: 220px 120px 120px 120px;
    gap: 30px;
    .aboutFooter {
      width: 42%;
      h6 {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
        margin-bottom: 40px;
        i {
          color: #b68834;
        }
        span {
          color: #b68834;
        }
      }
    }
    .newsletterBox {
      margin-right: 50px;
      h6 {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
        margin-bottom: 25px;
      }
      .formBox {
        display: flex;
        .formControl {
          border: none;
          width: 340px;
          height: 45px;
          padding: 10px 18px;
        }
        .formButton {
          color: rgb(255, 253, 253);
          width: 45px;
          height: 45px;
          background-color: #b68834;
          border: none;
        }
      }
    }
    .followBox {
      h6 {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
        margin-bottom: 25px;
      }
      .iconFooter {
        display: flex;
        gap: 20px;
        a {
          color: white;
          font-size: 12px;
        }
        a :hover {
          color: #b68834;
        }
      }
    }
  }
}
